
html{
  box-sizing: border-box;
}
  h1{
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  margin-bottom: 8px;
  padding:10px;
}
.menu {
  margin: auto;
  width: fit-content;
}
.menu a{
  color:white;
  background-color: lightgrey;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}
main{
  margin:20px;
  display: block;
}
h2 {
  background-color: #76f2d5;
  font-weight: normal;
  padding: 20px;
}
span{
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color:Yellow;
}
p{
  color:white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-size: 10px;
}
.tile{
  display: inline-block;
  margin-bottom: 5px;
  margin:auto;
}
.imgbutton {
  background-color: Yellow;
  padding: 5px;
  box-sizing: content-box;
  text-align: center;
}
